
.flex{
  display: flex;
}
.flex-grow{
  flex-grow: 1;
}
html,body{
  background-color: #f8faf5 ;
  max-width: 100%;
  overflow-x: hidden;
}
.font-small{
  font-size: 1rem!important;
}
.my-btn{
  margin:10px;
}
.suche{
  display:inline-block;
}